.progressbar_container {
  background-color: #2c3e50;
  border-radius: 0.6rem;
  color: white;
  font-family: $font-family;
  font-size: 0.5rem;
  font-weight: 500;
  height: 1rem;
  padding: 0.2rem;
  text-align: center;
  width: 100%;

  &.small {
    height: 0.9rem;
    font-size: 0.5rem;
    width: 13rem;
  }

  &.large {
    border-radius: 0.7rem;
    font-size: 0.7rem;
    height: 1.4rem;
    padding: 0.25rem;
    width: 30rem;
  }

  .progressbar_progress {
    border-radius: 0.5rem;
    color: #266fb5;
    height: 0.6rem;

    &.small {
      height: 0.5rem;
    }

    &.large {
      border-radius: 0.6rem;
      height: 0.9rem;
    }
  }

  span {
    position: absolute;
    top: 0.6rem;
    z-index: 1;

    &.small {
      top: 0.55rem;
    }

    &.large {
      top: 0.75rem;
    }
  }
}
