.radio_group {
  font-family: $font-family;
  font-size: $font-size;
  line-height: ($font-size * 2);
  padding: 0.5rem;

  .label {
    font-weight: 700;
    padding-left: 3px;
  }

  .items {
    .item {

      &:hover {
        color: grey;
      }

      &.horizontal {
        display: inline;
        margin-right: 10px;
      }

      .radio {
        margin-right: 8px;
      }
    }
  }
}
