.plus_button {
  background-color: #2196f3 !important;
  border-radius: 50px !important;
  cursor: pointer;
  height: 2.3rem !important;
  min-width: 1rem !important;
  padding: 0.1rem !important;
  width: 2.3rem !important;
  
  .plus_symbol {
    height: 1.8rem;
    width: 1.8rem;
  }
}