.input_container {
  
  &.textarea {
    min-height: 8rem;
  }  

  .labell {
    /* inherits from input */
  }

  .wrapper {
    /* inherits from input */

    textarea {
      border-style: solid;
      border: none;
      height: 100%;
      font-size: 0.9rem;
      outline: none;
      padding-top: 1rem;
      padding-left: 1rem;
      resize: none;
      width: 100%;
    }
    
    :focus {
      /* inherits from input */
    }
  }
  
  &.full {
    width: 100%;
  }
}
